extends layout
block main
  h2 只是想实习一个Node工程师
  h3 本博客由以下技术实现：
  div
    ul
      li
        h4 后端
      ol
        li Node.js + express（基本框架）
        li mongodb（用户博文&账号数据）
        li redis（cookies & session）
      li 
        h4 前端框架
      ol
        li bootstrap